body {
  font-family: arial;
  font-size: 20px;
}

.progress {
  font-size: 80px;
  color: #E6bf00;
}

.summary-text, .summary-days, .summary-hours {
  margin-top: 20px;
}

.summary-start-date {
  margin: 60px 0 0;
}

.summary-hover-text, .stats {
  margin: 60px 0 40px;
}
